.day {
  display: flex;
  // justify-content: space-evenly;
  margin: 0 0 1.5rem;
  align-items: center;
  position: relative;

  .day-name {
    min-width: 145px;

    h3 {
      margin: 0;
    }
  }

  input {
    padding: 8px 10px;
    border: none;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 15px;
    border-radius: 1px;
    height: 100%;
    max-width: 150px;
  }

  .day-total {
    margin-left: 20px;
    font-size: 1.4em;
    p {
      margin: 0;
    }
  }
}

.reset-button {
  cursor: pointer;
  position: absolute;
  right: -45px;
  background: none;
  border: none !important;
  padding: 0;
}
