.day {
  display: flex;
  // justify-content: space-evenly;
  margin: 0 0 1.5rem;
  align-items: center;

  .day-name {
    min-width: 145px;

    h3 {
      margin: 0;
    }
  }

  input {
    padding: 10px 10px;
    border: none;
    margin-top: 0;
    margin-bottom: 0;
    border-radius:1px;
  }

  .day-total {
    margin-left:20px;
    font-size: 1.4em;
  }
}

a.reset-button {
  cursor:pointer;
}
#weekly-total {

}
