.nav {
  padding-top: 2rem;
  padding-bottom: 3rem;

  .nav-container {
    padding: 0 1.5rem;
    margin: auto;
    justify-content: space-between;
    -webkit-transition: height 0.3s ease;
    transition: height 0.3s ease;
    display: flex;
    align-items: center;

    .brand {
      h1 {
        font-size:2rem;
        margin:0;
      }
    }

    .links {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex: unset;
      height: 100%;
      align-items: center;
      margin: 0;

      img {
        max-width: 30px;
      }
      .decimal-switcher {
        cursor: pointer;
        background: none;
        border: none !important;
        padding: 0;
        color: #fff;
        font-size: 15px;
        transition: 0.3s ease;

        span {
          margin-right: 8px;

          &.switch {
            opacity: 0.8;
            transition: 0.3s ease;
          }
        }

        &:hover {
          // background-color: rgba(255, 255, 255, 0.18);
          // color: #fff;

          span {
            &.switch {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
