#main-content {
  .container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 145px 1fr 1fr 1fr 120px;
    grid-template-areas:
      'header header header header header'
      'day1 day1 day1 day1 day1'
      'day2 day2 day2 day2 day2'
      'day3 day3 day3 day3 day3'
      'day4 day4 day4 day4 day4'
      'day5 day5 day5 day5 day5'
      'day6 day6 day6 day6 day6'
      'day7 day7 day7 day7 day7'
      'total total total total total';

    @media screen and (max-width: 505px) {
      display: flex;
      flex-direction: column;
    }

    #day-header {
      grid-area: header;

      display: grid;
      grid-template-columns: 145px 1fr 1fr 1fr 120px;
      grid-template-areas: '. start break end .';
      grid-gap: 10px;
      @media screen and (max-width: 940px) {
        grid-template-columns: 135px 1fr 1fr 1fr 1fr;
      }
      @media screen and (max-width: 678px) {
        grid-template-columns: 115px 1fr 1fr 1fr 1fr;
      }
      @media screen and (max-width: 639px) {
        grid-template-columns: 60px 1fr 1fr 1fr 1fr;
      }
      @media screen and (max-width: 505px) {
        display: none;
      }

      .start-head {
        grid-area: start;
        opacity: 0.8;
      }
      .break-head {
        grid-area: break;
        opacity: 0.8;
      }
      .finish-head {
        grid-area: end;
        opacity: 0.8;
      }
    }
    .day {
      display: grid;
      grid-template-areas: '';
      grid-template-columns: 145px 1fr 1fr 1fr 120px;
      grid-template-areas: 'name start break end total';
      grid-gap: 10px;
      @media screen and (max-width: 940px) {
        grid-template-columns: 135px 1fr 1fr 1fr 1fr;
      }
      @media screen and (max-width: 678px) {
        grid-template-columns: 115px 1fr 1fr 1fr 1fr;
      }
      @media screen and (max-width: 639px) {
        grid-template-columns: 60px 1fr 1fr 1fr 1fr;
      }
      @media screen and (max-width: 505px) {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        border-bottom: 1px solid #ffffff24;
        padding-bottom: 1.75rem;
      }

      &.Monday {
        grid-area: day1;
      }
      &.Tuesday {
        grid-area: day2;
      }
      &.Wednesday {
        grid-area: day3;
      }
      &.Thursday {
        grid-area: day4;
      }
      &.Friday {
        grid-area: day5;
      }
      &.Saturday {
        grid-area: day6;
      }
      &.Sunday {
        grid-area: day7;
      }

      @media screen and (min-width: 506px) {
        .day-start h4,
        .day-break h4,
        .day-end h4,
        .day-name .day-total {
          display: none;
        }
      }
      @media screen and (max-width: 505px) {
        input {
          padding: 6px 10px;
          max-width: 120px;
          font-size: 16px;
        }
        .day-start h4,
        .day-break h4,
        .day-end h4 {
          opacity: 0.85;
          font-size: 17px;
          font-weight: normal;
          margin: 0;
          margin-right: 30px;
          min-width: 80px;
        }
        .day-start,
        .day-break,
        .day-end {
          display: flex;
          flex-direction: row;
          align-items: center;
          width: 100%;
          justify-content: space-between;
        }
        .day-total {
          display: none;
        }
        .day-name {
          display: flex;
          flex-direction: row;
          align-items: center;
          width: 85%;
          justify-content: space-between;
          height: 30px;
          margin-bottom: 5px;

          h3 {
            // min-width: 160px;
            font-size: 22px;
          }

          .day-total {
            display: block;

            p {
              font-size: 22px;
            }
          }
        }
        .reset-button {
          // display: none;
          background-color: #ffffff30;
          border-radius: 100%;
          padding: 4px;
          height: 27px;

          img {
            max-width: 18px;
          }
        }
      }
    }
    #weekly-total {
      grid-area: total;
      transition: 0.3s ease;

      @media screen and (max-width: 505px) {
        &.not-visible {
          position: fixed;
          bottom: 0;
          width: 100%;
          left: 0;

          &:before {
            content: '';
            position: fixed;
            left: -10%;
            right: -10%;
            z-index: -1;
            display: block;

            // alt
            background: #4568dc;
            background: -webkit-linear-gradient(to left, #4568dc, #b06ab3);
            background: linear-gradient(to left, #4568dc, #b06ab3);
            width: 200%;
            height: 200%;
            // -moz-filter: blur(5px);
            // -o-filter: blur(5px);
            // -ms-filter: blur(5px);
            // filter: blur(10px);
            border-top: 1px solid #ffffff1a;
          }

          h2 {
            line-height: 1.4;

            font-size: 22px;
            padding: 0 2rem;
          }
        }
      }
    }
  }
}
